<a href="https://colab.research.google.com/github/VU21CSEN0100037/PYTHON/blob/main/COPY_OF_LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JOIN LISTS

In [23]:
#JOIN TWO LIST
a = ["d","e","f"]
b = [1,2,3]
c= a + b
print(c)

a = ["d","e","f"]
b = ["1,2,3"]
for x in b:
  a.append(x)
  print(a)

#EXTEND 
a = ["d","e","f"]
b = [1,2,3]
a.extend(b)
print(a)

['d', 'e', 'f', 1, 2, 3]
['d', 'e', 'f', '1,2,3']
['d', 'e', 'f', 1, 2, 3]

COPY LIST

In [14]:
fruit = ["apple","banana","orange"]
mylist=fruit.copy()
print(mylist)

mylist=list(fruit)
print(mylist)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange']

SORT LIST

In [27]:
#SORT ALPH
fruit=["apple","pineapple","orange","banana","guava"]
fruit.sort()
print(fruit)

#SORT NUMBERICALLY
number=["90","50","53","66","111"]
number.sort()
print(number)

#SORT DESCENDING
fruit=["apple","kiwi","banana","lichy","mango"]
fruit.sort(reverse= True)
print(fruit)

numbers=["60","12","9"]
numbers.sort(reverse= True)
print(numbers)

#CUSTOMISE SORT FUNCTION
def myfunc(n):
  return abs(n = 50)
  numbers = [11,58,133,44,58]
  numbers.sort(key = myfunc)
  print(numbers)

#CASE INSENSTIVE SORT
fruit = ["banana","mango","watermelon","grapes","cherry"]
fruit.sort()
print(fruit)

#REVERSE ORDER
fruit= ["cherry","watermelon","apple","grapes","mango"]
fruit.reverse()
print(fruit)

['apple', 'banana', 'guava', 'orange', 'pineapple']
['111', '50', '53', '66', '90']
['mango', 'lichy', 'kiwi', 'banana', 'apple']
['9', '60', '12']
['banana', 'cherry', 'grapes', 'mango', 'watermelon']
['mango', 'grapes', 'apple', 'watermelon', 'cherry']

CHANGING LIST ITEMS

In [17]:
fruit = ["kiwi","cherry","lichy","drangon"]
print(fruit)
fruit[1:3]=["pipeapple"]
print(fruit)
fruit[2:3]=["apple","mango"]
print(fruit)

['kiwi', 'cherry', 'lichy', 'drangon']
['kiwi', 'pipeapple', 'drangon']
['kiwi', 'pipeapple', 'apple', 'mango']

EXTENDING THE ITEM

In [19]:
fruit=["kiwi","apple","lichy","watermelon"]
print(fruit)
fruit[2:4]="blackberry"
print(fruit)

['kiwi', 'apple', 'lichy', 'watermelon']
['kiwi', 'apple', 'b', 'l', 'a', 'c', 'k', 'b', 'e', 'r', 'r', 'y']

ADD LIST ITEMS

In [20]:
fruit=["strawberry","rasberry","blackberry","cherry"]
print(fruit)

#APPEND
fruit.append("apple")
print(fruit)

#INSERTING
fruit.insert(4,"mango")
print(fruit)
fruit.insert(1,"banana")
print(fruit)

#EXTENDING THE LIST
extra=("kiwi","lichy")
fruit.extend(extra)
print(fruit)

['strawberry', 'rasberry', 'blackberry', 'cherry']
['strawberry', 'rasberry', 'blackberry', 'cherry', 'apple']
['strawberry', 'rasberry', 'blackberry', 'cherry', 'mango', 'apple']
['strawberry', 'banana', 'rasberry', 'blackberry', 'cherry', 'mango', 'apple']
['strawberry', 'banana', 'rasberry', 'blackberry', 'cherry', 'mango', 'apple', 'kiwi', 'lichy']

ACCESSING LIST

In [21]:
fruit=["kiwi","lichy","mango","apple"]
print(fruit)

#PRINT THE FIRST ITEM OF THE LIST
print(fruit[0])

#NEGATIVE INDEXING
print(fruit[-1])

#RANGE OF INDEXES
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[1:])
print(fruit[3:])

['kiwi', 'lichy', 'mango', 'apple']
kiwi
apple
['kiwi', 'lichy']
['kiwi', 'lichy']
['lichy']
['lichy', 'mango', 'apple']
['apple']

LOOP LIST

In [30]:
vegetable=["carrot","betroot","onion"]
print(vegetable)

#FOR LOOP
for x in vegetable:
  print(x)

  #RANGE
  for i in range(len(vegetable)):
    print(vegetable[1])

  #WHILE LOOP
  i=0
  while i < len(vegetable):
    print(vegetable[i])
    i=i+1
    
  #FOR LOOP
  [print(x) for x in fruit]

['carrot', 'betroot', 'onion']
carrot
betroot
betroot
betroot
carrot
betroot
onion
mango
grapes
apple
watermelon
cherry
betroot
betroot
betroot
betroot
carrot
betroot
onion
mango
grapes
apple
watermelon
cherry
onion
betroot
betroot
betroot
carrot
betroot
onion
mango
grapes
apple
watermelon
cherry

PRINTING LIST

In [32]:
fruit=["kiwi","apple","watermelon","grapes"]
print(fruit)

['kiwi', 'apple', 'watermelon', 'grapes']

LIST OF COMPREHENSION

In [34]:
fruit=["apple","watermelon","papaya"]
newlist=[x for x in fruit if "y" in x]
print(newlist)

newlist=[x for x in fruit if x !="apple"]
print(newlist)

newlist=[x for x in fruit]
print(newlist)

newlist=[x for x in range(11)]
print(newlist)

newlist=[x for x in range(9) if x<5]
print(newlist)

newlist=[x.upper()for x in fruit]
print(newlist)

newlist=['hello' for x in fruit]
print(newlist)

newlist=[x if x !="apple" else "papaya" for x in fruit]
print(newlist)

['papaya']
['watermelon', 'papaya']
['apple', 'watermelon', 'papaya']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]
['APPLE', 'WATERMELON', 'PAPAYA']
['hello', 'hello', 'hello']
['papaya', 'watermelon', 'papaya']