<a href="https://colab.research.google.com/github/VU21CSEN0100037/PYTHON/blob/main/MODULE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def nCr(a,b):
  return(fact(a)/(fact(b)*fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
 res=1
 for i in range(2,a+1):
      res=res*1
  return res
print(int(nCr(a,b)))

IndentationError: ignored

 Create a function which accepts two inputs from the user and compute n
Cr

In [8]:
def fact(i):
 if i>0:
   return i*fact(i-1)
 else:
  return 1
def comb(n,r):
 return (fact(n)/((fact(n-r))*fact(r)))
a=int(input('a='))
b=int(input('b='))
comb(a,b)

a=9
b=6

84.0

Program to get the difference between the two lists

In [18]:
a_list=[9,6,3,5,7,1,8,4,9,5,3,6,5,8,7,6]
b_list=[5,9,4,8,3,6,7,2,5,9,4,8,3,9]
x=set(a_list)
y=set(b_list)
z1=x.difference(y)
z2=y.difference(x)
print(list(z1))
print(list(z2))

[1]
[2]

Program to find the second smallest number and second largest number in a list.

In [17]:
num1_list=[2,1,9,0,9,57,963,348,94]
num1_list.sort()
print(num1_list)
print("second smallest num in the given list is: ",num1_list[1])
print("second largest num in the given list is: ",num1_list[len(num1_list)-2])
[2,1,9,0,9,57,963,348,94]

[0, 1, 2, 9, 9, 57, 94, 348, 963]
The second smallest number in the given list is:  1
The second largest number in the given list is:  348

[2, 1, 9, 0, 9, 57, 963, 348, 94]

Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.

In [36]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
new_list=[]
K=2
for x in test_list:
 if len(x)!=K:
   new_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",new_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.

In [37]:
a_list=[3,86,4,56,12]
result=[(x,x**2) for x in a_list]
print("The required list is: ",result)

The required list is:  [(3, 9), (86, 7396), (4, 16), (56, 3136), (12, 144)]

Program to remove a key from a dictionary

In [45]:
makeup={
  'brand': 'maybelline',
 'product':'lip gloss',
 'colour':'pale pink ',
 'cost':150
}
makeup.pop('product')
print(makeup)
del makeup['cost']
print(makeup)
{'brand': 'maybelline', 'colour': 'pale pink', 'cost': 150}

{'brand': 'maybelline', 'colour': 'pale pink ', 'cost': 150}
{'brand': 'maybelline', 'colour': 'pale pink '}

{'brand': 'maybelline', 'colour': 'pale pink', 'cost': 150}

Program to get the maximum and minimum value in a dictionary

In [47]:
the_dictionary={
 'a':27, 'b':33, 'c':96, 'd':12
 }
max_value=max(the_dictionary, key=the_dictionary.get)
min_value=min(the_dictionary, key=the_dictionary.get)
print("The max value in the given dictionary has a key: '"+max_value+"' and its value is:",the_dictionary[max_value])
print("The min value in the given dictionary has a key: '"+min_value+"' and its value is:",the_dictionary[min_value])

The max value in the given dictionary has a key: 'c' and its value is: 96
The min value in the given dictionary has a key: 'd' and its value is: 12

Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations