<a href="https://colab.research.google.com/github/VU21CSEN0100037/PYTHON/blob/main/MODULE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value.

In [ ]:
a=300
b=200
c=int(input())
d=int(input())
e=a-(b)-(c)-(d)
print(e)

50
40
10

Use of print statements and use of (.format )for printing different data types

In [ ]:
quantity=5
itemno=111
price=200
myorder ="i want {} pieces of itemno {} for {} rupees."
print(myorder.format(quantity,itemno,price))

i want 5 pieces of itemno 111 for 200 rupees.

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
sum=a+b
print(sum)
subt=a-b
print(subt)
multi=a*b
print(multi)
div=a/b
print(div)
rem=a%b
print(rem)
print(type(a))

enter a number80
enter a number50
130
30
4000
1.6
30
<class 'int'>

Same operations on floating point input as well

In [ ]:
a=9.6
b=5.3
sum=a+b
print(sum)
subt=a-b
print(subt)
multi=a*b
print(multi)
div=a/b
print(div)
rem=a%b
print(rem)
print(type(a))

14.899999999999999
4.3
50.879999999999995
1.8113207547169812
4.3
<class 'float'>

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 1000
1000.00 kilometers is equal to 621.37 miles

Accepting 5 different subject marks from user and displaying the grade of the student.

In [28]:
a=float(input("enter a 1st subject number"))
b=float(input("enter a 2nd subject number"))
c=float(input("enter a 3rd subject number"))
d=float(input("enter a 4th subject number"))
e=float(input("enter a 5th subject number"))
f=(a+b+c+d+e)/5
if f>90:
  print("grade A")
elif f>80 and f<90:
  print("grade B")
elif f>70 and f<80:
  print("grade C")
elif f<70:
  print("grade D")

enter a 1st subject number55.3
enter a 2nd subject number88.3
enter a 3rd subject number95.2
enter a 4th subject number49.2
enter a 5th subject number99
grade C