<a href="https://colab.research.google.com/github/VU21CSEN0100037/PYTHON/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

strings

In [11]:
a="rose"
print(a)
a='''jasmine'''
print(a)

#strings are arrays
a = "rose,jasmine!"
print(a[6])

#Looping Through a String
for a in "lotus":
 print(a)

rose
jasmine
a
l
o
t
u
s

string length

In [12]:
 #length
 a="lily"
 print(len(a))

4

check string

In [24]:
text="choose to shine"
print("shine" in text)
print("lily" in text)

text = "choose to shine"
if "shine" in text:
  print("Yes, 'shine' is present.")


text = "choose to shine"
print("bright" not in text)
print("moon" in text)

text = "choose to shine"
if "star" not in text:
  print("No, 'star' is NOT present.")

True
False
Yes, 'shine' is present.
True
False
No, 'star' is NOT present.

SLICING

In [32]:
a = "honey,money"
print(a[2:5])

#slice from start
a = "honey,money"
print(a[:4])

#slice from end
a = "honey,money"
print(a[1:])

#negative indexing
a = "honey,money"
print(a[-3:-1])

ney
hone
oney,money
ne

Modify Strings

In [40]:
#upper case
a = "be a voice a echo"
print(a.upper())

#lower case
a = "BE A VOICE A ECHO"
print(a.lower())

#Remove Whitespace
a = "     be a voice a echo "
print(a.strip()) 

#replace string
a="Be a Voice a Echo"
print(a.replace("E","B"))

#slipt string
a="be a voice a echo"
print(a.split(","))

BE A VOICE A ECHO
be a voice a echo
be a voice a echo
Be a Voice a Bcho
['be a voice a echo']

String Concatenation

In [43]:
a="cup"
b="board"
c=a+b
print(c)

a="water"
b="bottle"
c=a+" "+b
print(c)

cupboard
water bottle

string format

In [52]:
age="27"
line="born to be young"+age
print(line)

#format()
age = 27
txt = "born to be young {}"
print(txt.format(age))


quantity = 7
itemno = 378
price = 70.5
myorder = "I want {} pieces of item {} for {} rupees."
print(myorder.format(quantity, itemno, price))

quantity = 8
itemno = 700
price = 50
myorder = "I want to pay {2} rupees for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

born to be young27
born to be young 27
I want 7 pieces of item 378 for 70.5 rupees.
I want to pay 50 rupees for 8 pieces of item 700.

escape character

In [55]:
text = "hope is the last"quote" thing ever lost."

SyntaxError: ignored

In [58]:
text = "hope is the last\"quote\" thing ever lost."
print(text)

hope is the last"quote" thing ever lost.