<a href="https://colab.research.google.com/github/VU21CSEN0100037/PYTHON/blob/main/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON TUPLE

In [3]:
# tuple

a=("carrot","tomato","brinjal","onion")
print(a)

('carrot', 'tomato', 'brinjal', 'onion')

In [4]:
# Duplicates

a=("carrot","tomato","onion","tomato","bottleguard","carrot")
print(a)

('carrot', 'tomato', 'onion', 'tomato', 'bottleguard', 'carrot')

In [32]:
# tuple length

a=("carrot","tomato","onion","brinjal")
print(len(a))

a=("carrot,tomato,onion,brinjal")
print(len(a))

4
27

In [12]:
# tuple with one item

a=("brinjal","carrot",)
print(type(a))

<class 'tuple'>

In [35]:
#tuple- data types (int,string,boolean)

a=("onion","carrot","cucumber")
b=(1,2,3,)
c=("true","true","false")
print(a)
print(b)
print(c)

('onion', 'carrot', 'cucumber')
(1, 2, 3)
('true', 'true', 'false')

In [18]:
# tuple with different data types (int, str, bool)

a=("onion","true",0,"movie",12,"girl")
print(a)

('onion', 'true', 0, 'movie', 12, 'girl')

In [37]:
# tuple constructor

b=tuple(("carrot"))
print(b)

a=tuple(("tomato","onion"))
print(a)

('c', 'a', 'r', 'r', 'o', 't')
('tomato', 'onion')

PYTHON ACCESS TUPLE

In [40]:
a=("black","blue","pink")
print(a[1])

#negative indexes
a=("black","blue","pink")
print(a[-1])

blue
pink

In [64]:
#range of indexes

a=("black","blue","pink","golden","violet","purple","white")
print(a[0:3])
print(a[:5])
print(a[1:-1])
print(a[2:])
print(a[-4:-1])

('black', 'blue', 'pink')
('black', 'blue', 'pink', 'golden', 'violet')
('blue', 'pink', 'golden', 'violet', 'purple')
('pink', 'golden', 'violet', 'purple', 'white')
('golden', 'violet', 'purple')

In [79]:
#if

a=("black","blue","pink","golden","violet","purple","white")
if "apple" in a:
  print("yes")
elif "banana" in a:
  print("no")
elif "white":
  print("yes,white")

yes,white